In [4]:
import pandas as pd

list = ['District name', 'Age_Group_0_29', 'Age_Group_30_49', 'Age_Group_50']
df1 = pd.read_csv('districts.csv')
df2 = pd.read_csv('india-districts-census-2011.csv', usecols=list)
df3 = pd.read_csv('output.csv')
df3

,Unnamed: 0,Date,State,District,Confirmed,Recovered,Deceased,Other,Tested,District name,Age_Group_0_29,Age_Group_30_49,Age_Group_50
0,0,2020-04-26,Andhra Pradesh,Anantapur,53,14,4,0,NaN,Anantapur,2189396,1104565,739612
1,1,2020-04-27,Andhra Pradesh,Anantapur,53,14,4,0,NaN,Anantapur,2189396,1104565,739612
2,2,2020-04-28,Andhra Pradesh,Anantapur,54,14,4,0,NaN,Anantapur,2189396,1104565,739612
3,3,2020-04-29,Andhra Pradesh,Anantapur,58,17,4,0,NaN,Anantapur,2189396,1104565,739612
4,4,2020-04-30,Andhra Pradesh,Anantapur,61,20,4,0,NaN,Anantapur,2189396,1104565,739612
...,...,...,...,...,...,...,...,...,...,...,...,...,...
78105,78105,2020-10-01,Meghalaya,South Garo Hills,40,37,0,0,NaN,South Garo Hills,97082,30605,14495
78106,78106,2020-10-02,Meghalaya,South Garo Hills,46,37,0,0,NaN,South Garo Hills,97082,30605,14495
78107,78107,2020-10-03,Meghalaya,South Garo Hills,46,37,0,0,NaN,South Garo Hills,97082,30605,14495
78108,78108,2020-10-04,Meghalaya,South Garo Hills,47,37,0,0,NaN,South Garo Hills,97082,30605,14495
78109,78109,2020-10-05,Meghalaya,South Garo Hills,47,37,0,0,NaN,South Garo Hills,97082,30605,14495